/* Base */

.awwwards{
	position: absolute;
	top: 70px;
	width: 90px;
	height: 135px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;
	background-image: url(../images/awwwards_honorable.png);
	background-size: 90px;

	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
